
.icon-location-outline:before { content: '\e800'; } /* '' */
.icon-award:before { content: '\e801'; } /* '' */
.icon-clock-1:before { content: '\e802'; } /* '' */
.icon-phone:before { content: '\e803'; } /* '' */
.icon-user-pair:before { content: '\e804'; } /* '' */
.icon-facebook-circled:before { content: '\e805'; } /* '' */
.icon-police:before { content: '\e82b'; } /* '' */
.icon-coffee:before { content: '\f0f4'; } /* '' */
.icon-twitter-bird:before { content: '\f303'; } /* '' */
.icon-instagram:before { content: '\f31e'; } /* '' */